<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    
    <add key="address" value="D:\\Training\\01 Operator Overloading\\OperatorOverloading.dbl\\Data.txt"/>
  </appSettings>
</configuration>