<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.visualstudio.qualitytools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <connectionStrings>

    <add name="SanityTestConnectionString" connectionString="|DataDirectory|\\SanitySmokeTest.txt" providerName="Microsoft.VisualStudio.TestTools.DataSource.CSV" />
    <add name="CreateSiteTestConnectionString" connectionString="|DataDirectory|\\CreateSiteSmokeTest.txt" providerName="Microsoft.VisualStudio.TestTools.DataSource.CSV" />
    <add name="TemplatesTestConnectionString" connectionString="|DataDirectory|\\TemplatesSmokeTest.txt" providerName="Microsoft.VisualStudio.TestTools.DataSource.CSV" />
    <add name="SiteDashBordTestConnectionString" connectionString="|DataDirectory|\\SiteDashBoardSmokeTest.txt" providerName="Microsoft.VisualStudio.TestTools.DataSource.CSV" />
    <add name="GlobalsTestConnectionString" connectionString="|DataDirectory|\\GlobalsSmokeTest.txt" providerName="Microsoft.VisualStudio.TestTools.DataSource.CSV" />
    <add name="AdminTestConnectionString" connectionString="|DataDirectory|\\AdminSmokeTest.txt" providerName="Microsoft.VisualStudio.TestTools.DataSource.CSV" />
    <add name="EditSiteTestConnectionString" connectionString="|DataDirectory|\\EditSiteSmokeTest.txt" providerName="Microsoft.VisualStudio.TestTools.DataSource.CSV" />

  </connectionStrings>
  <microsoft.visualstudio.qualitytools>
    <dataSources>
      <add name = "SanityDataSource" connectionString="SanityTestConnectionString" dataTableName="SanitySmokeTest#txt" dataAccessMethod="Sequential" />
      <add name = "CreateSiteSmokeDataSource" connectionString="CreateSiteTestConnectionString" dataTableName="CreateSiteSmokeTest#txt" dataAccessMethod="Sequential" />
      <add name = "TemplatesSmokeDataSource" connectionString="TemplatesTestConnectionString" dataTableName="TemplatesSmokeTest#txt" dataAccessMethod="Sequential" />
      <add name = "SiteDashBoardDataSource" connectionString="SiteDashBordTestConnectionString" dataTableName="SiteDashBoardSmokeTest#txt" dataAccessMethod="Sequential" />
      <add name = "GlobalsDataSource" connectionString="GlobalsTestConnectionString" dataTableName="GlobalsSmokeTest#txt" dataAccessMethod="Sequential" />
      <add name = "AdminDataSource" connectionString="AdminTestConnectionString" dataTableName="AdminSmokeTest#txt" dataAccessMethod="Sequential" />
      <add name = "EditSiteSmokeDataSource" connectionString="EditSiteTestConnectionString" dataTableName="EditSiteSmokeTest#txt" dataAccessMethod="Sequential" />

    </dataSources>
  </microsoft.visualstudio.qualitytools>
  <appSettings>
    <!-- change ApplicationUrl value to valid Templar URL-->
    <add key="ApplicationUrl" value="http://localhost/Templar/login.aspx" />
    <add key="UserName" value="sa" />
    <add key="PassWord" value="zaq1ZAQ!" />
    <add key="WebDriver" value="Firefox"/>
    <!--<add key="WebDriver" value="Chrome"/>-->

    <add key="TestDataPath" value="Tavisca.Templar.UIAutomation.Tests\Data\ScenarioData.xlsx" />
    <add key="DataSourcePath" value="Tavisca.Templar.UIAutomation.Tests" />

   
    <add key="UIMapPath" value="Data\UIMap.xlsx" />
    <add key="MessagesPath" value="Data\Messages.xlsx" />
         
    <add key="TravelNxtUIMapPath" value="" />
    <add key="TravelNxtDataPath" value="" />
    <add key="IControlManager" value="Tavisca.TravelNxt.UIAutomation.Framework.Controls.ControlManager, Tavisca.TravelNxt.UIAutomation.Framework" />
    <add key="ITestDataSourceGenerator" value="Tavisca.TravelNxt.UIAutomation.Framework.Data.ScenarioDataGenerator, Tavisca.TravelNxt.UIAutomation.Framework" />
    <add key="ITestDataParser" value="Tavisca.TravelNxt.UIAutomation.Framework.Data.ExcelDataParser, Tavisca.TravelNxt.UIAutomation.Framework" />
    <add key="IUIMapParser" value="Tavisca.TravelNxt.UIAutomation.Framework.Data.UIMapParser, Tavisca.TravelNxt.UIAutomation.Framework" />
    <add key="IMessageParser" value="Tavisca.TravelNxt.UIAutomation.Framework.Data.MessageParser, Tavisca.TravelNxt.UIAutomation.Framework" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>