@model List<RollBasedAuthentication.Model.Remark>

@{
    ViewBag.Title = "ViewRemarks";
    List<string> columns = new List<string>();
    columns.Add("CreateTimeStamp");
    columns.Add("Text");
    var grid = new WebGrid(rowsPerPage: ViewBag.PageSize, canPage: true);

    grid.Bind(source: Model, columnNames: columns, autoSortAndPage: false, rowCount: ViewBag.TotalRecords);
}

<style type="text/css">
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
</style>

<h2>ViewRemarks</h2>

<div>
    @grid.GetHtml(tableStyle: "gridtable",
                    columns: grid.Columns(
                                grid.Column("CreateTimeStamp", "Creation Time"),
                                grid.Column("Text", "Remark")
                            )
                        )

</div>
